{% extends "base.html" %}

{% load staticfiles %}
{% block content %}
<h1>Diario Contabil</h1>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="d-none d-md-block text-uppercase">
      <ul class="navbar-nav">
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{% url 'home' %}">#econobilidade</a>
          <td><select name="forma" onchange="location = this.value;">
            <option value="">Choose your Report</option>
           <option value="#">General Ledger</option>
           <option value="#">Balance Sheet</option>
           <option value="#">Income Statement</option>
          </select></td>

        </li>
      </ul>
    </div>
    </nav>
    </div>

    <div class="container">
<img src="{% static "images/images.png" %}" alt="My image"width="100%"
     height="341"/>
      <p>Informaçao com qualidade #econobilidade
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-download"></span> Donwload Razão Contabil
        </a>
    </div>
  </body>
</html>

<br>
{{data | safe}}


{% endblock %}
